<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=1020">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Favicon -->
        <link rel="icon" href="/images/favicon.ico">

      {% if page.enable_jquery %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!--[if lte IE 9]>
          <script src="/js/jquery.placeholder.min.js"></script>
        <![endif]-->
        <!--[if lt IE 8]>
          <script src="/js/json3-3.2.6.js"></script>
        <![endif]-->
      {% endif %}

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-53489655-1', 'auto');
        ga('send', 'pageview');
      </script>
    </head>
    <body>
      <!-- Page Header and Menu -->
      <div id="header">
        <div class="container">
          <a href="/" id="logo"><img src="/images/logo.png" alt="Mishira Logo" /></a>

          <ul id="menu">
            {% if page.enable_menu %}
            <!-- li><a href="/support.html">Support/Feedback</a></li>
            <li><a href="/news.html">News</a></li>
            <li><a href="/features.html">Features</a></li>
            <li><a href="/download.html">Download</a></li>
            <li><a href="/">Home</a></li -->
            {% endif %}
          </ul>

          <div id="header-social-icons">
            <a href="https://www.twitter.com/MishiraApp" class="twitter"></a>
            <a href="https://www.facebook.com/MishiraApp" class="facebook"></a>
          </div>
        </div>
      </div>

      {% if page.show_splash %}
      <!-- Splash section -->
      <div id="splash">
        <div class="container">
          <img src="/images/splash.png" alt="Mishira Gameplay" id="splash-img" />
          <div id="splash-punchline">
            <p>Video game live streaming is about to level up!</p>
            <a class="button" href="https://www.twitter.com/MishiraApp">Follow us for updates!</a>
            <div id="splash-social">
              <a href="https://www.twitter.com/MishiraApp"><span class="twitter"></span>Follow us!</a>
              <a href="https://www.facebook.com/MishiraApp"><span class="facebook"></span>Like us!</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Main content box -->
      <div id="content">
        <div class="container">
          {{ content }}
        </div>
      </div>

      <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div id="footer-left-content">
            Copyright &copy; 2014 Mishira development team. All rights reserved.
          </div>

          <img src="/images/footer-watermark.png" alt="Mishira Watermark" id="footer-watermark" />

          <div id="footer-right-content">
            <ul>
              <li>Website design by <a href="http://www.timoliver.com.au/">Tim Oliver</a>.</li>
            {% if page.enable_menu %}
              <li><a href="press-kit.html">Press kit</a></li>
            {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </body>
</html>
